{% extends "gestor/base/base.html" %}

{% block title %} Escolas {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="col-xl-8 col-md-12 m-b-30" style="margin: 0 auto;margin-top: 20px;display: flex;flex-direction: column;justify-content: center;align-content: center;">
    <h3 class="m-b-10" style="margin-bottom: 70px;text-align: center;">Escola {{escola.uni_nome}}</h3>
    <section>
        <p>Codigo INEP: {{escola.uni_codigo_inep}}</p>
        <p>Endereço: {{escola.endereco.end_rua}} - {{escola.endereco.end_numero}}</p>
        <p>CEP: {{escola.endereco.end_cep}}</p>
        <p>Município: {{escola.endereco.cidade.cid_nome}}</p>
        <p>UF: {{escola.endereco.cidade.cid_uf}}</p>
    </section>

    <section>
        <div class="card Recent-Users">
            <div class="card-header">
                <h5>Turmas</h5>
            </div>
            <div class="card-block px-0 py-3">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Ano Escolar</th>
                                <th>Ano</th>
                                <th>Nome provedor</th>
                                <th class="text-right"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for turma in turmas %}
                                <tr>
                                    <td>
                                        <h6 class="m-0"><img class="rounded-circle m-r-10" style="width:40px;" src="../../../static/assets/images/icons/escola.jpg" alt="activity-user">{{turma.tur_ano_escolar}}° ano</h6>
                                    </td>
                                    <td>
                                        <h6 class="m-0">{{turma.tur_ano}}</h6>
                                    </td>
                                    <td>
                                        <h6 class="m-0">{{turma.professor.pro_primeiro_nome}} {{turma.professor.pro_segundo_nome}}</h6>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <a href="/gestor/add_turma/{{escola.uni_id}}" class="btn btn-primary" style="font-size:12px;background-color: #3D5482; border: none; text-align: center; margin: 20px auto; width:200px;">Cadastrar Nova Turma</a>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
