{% extends "professor/base/base.html" %}

{% block title %} Coleta {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="d-flex justify-content-center">
                    <!--[ Recent Users ] start-->
                    <div class="col-xl-10 col-md-6">
                        <div class="card Recent-Users">
                            <div class="card-header">
                                <h5 style="margin-bottom: 20px;">Dados do Aluno</h5>
                                <p class="text-dark mb-1" style="margin-top: 10px;">Aluno</p>
                                <p style="margin-left: 10px;">{{ aluno.alu_primeiro_nome }} {{ aluno.alu_segundo_nome }}</p>
                                <p class="text-dark mb-1">Professor</p>
                                <p style="margin-left: 10px;">{{ aluno.pro_primeiro_nome }} {{ aluno.pro_segundo_nome }}</p>
                            </div>

                        </div>

                        <h3 style="text-align: center;margin-bottom: 20px;margin-top: 50px;">Desempenho da coleta de áudio</h3>
                        {% if aval_count > 0 %}
                            {% for avaliacao in avaliacoes %}
                            <div class="card Recent-Users">
                                <div class="card-header">
                                    <h5 style="margin-bottom: 20px;"><b>{{avaliacao.tip_aval_desc}}</b> | Teste realizado em {{avaliacao.ava_data|date:"d/m/Y"}}</h5>
                                    <p style="float:right;font-size:12px;" class="badge badge-success">Resultado: {{avaliacao.ava_nota|floatformat:2 }}</p>
                                    <p class="mb-1 muted">Frase: <em>{{avaliacao.fra_frase}}</em></p>
                                    <p class="mb-1 muted"><small>Métrica da coleta tipo: <b>{{avaliacao.tip_frase_desc}}</b></small></p>
                                </div>
                            </div>
                            {% endfor%}
                        {% else %}
                        <div class="card Recent-Users">
                            <div class="card-header">
                                <h5 style="margin-bottom: 20px;">Nenhum teste foi encontrado.</h5>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <!--[ Recent Users ] end-->
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}