{% extends "gestor/base/base.html" %}

{% block title %} Alunos {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="card-body" style="margin: 0 auto;max-width: 1000px; width: 90%;">
    <h5 style="text-align: center; margin-top: 40px; margin-bottom: 40px;">Cadastro Novo Aluno</h5>
    <hr>
    <div class="row">
        <div class="row" style="margin: 0 auto;">
            <form style="text-align: center; width: 600px;" action="/gestor/save_alunos" method="POST">
                <div class="form-group">
                    <label for="fst_name_aluno">Nome do Aluno</label>
                    <input type="text" name="fst_name_aluno" class="form-control" id="fst_name_aluno" placeholder="Nome Aluno">
                </div>
                <div class="form-group">
                    <label for="scn_name_aluno">Sobrenome do Aluno</label>
                    <input type="text" name="scn_name_aluno" class="form-control" id="scn_name_aluno" placeholder="Sobrenome Aluno">
                </div>
                <div class="form-group">
                    <label for="scn_name_aluno">Data Nascimento</label>
                    <input type="text" name="date_nasc_aluno" class="form-control" id="date_nasc_aluno">
                </div>
                <div class="form-group">
                    <label for="tipo">Tipo</label>
                    <select class="form-control" name="tipo" id="tipo">
                        {% for tipo_aluno in tipo_alunos %}
                        <option value="{{tipo_aluno.tip_alu_id}}">{{tipo_aluno.tip_alu_desc}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="turma">Turma</label>
                    <select class="form-control" name="turma" id="turma">
                        {% for turma in turmas %}
                        <option value="{{turma.tur_id}}">Turma: {{ turma.tur_ano }} Serie: {{turma.tur_ano_escolar}} | {{turma.uni_nome}}</option>
                        {% endfor %}
                    </select>
                </div>

                {% csrf_token %}
                <button type="submit" class="btn btn-primary" style="margin-top: 30px;">Submit</button>
            </form>

        </div>

    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}