{% extends "gestor/base/base.html" %}

{% block title %} Alunos {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="d-flex justify-content-center">
                    <!-- [ basic-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Alunos</h5>
                                <a href="/gestor/add_alunos" class="btn btn-sm btn-primary" style="float:right;background-color: #3D5482; border: none;"><i class="feather icon-plus-circle"></i>Novo Aluno</a>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Nome</th>
                                                <th>Data Nasc.</th>
                                                <th>Tipo</th>
                                                <th>Turma</th>
                                                <th>Professor</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for aluno in alunos %}
                                                <tr>
                                                    <td>{{ aluno.alu_primeiro_nome }} {{ aluno.alu_segundo_nome }}</td>
                                                    <td>{{ aluno.alu_data_nascimento|date:"d/m/Y" }}</td>
                                                    <td>{{ aluno.tipo.tip_alu_desc}}</td>
                                                    <td>Ano: {{ aluno.turma.tur_ano }}  Serie: {{aluno.turma.tur_ano_escolar}}</td>
                                                    <td>{{ aluno.turma.professor.pro_primeiro_nome }} {{aluno.turma.professor.pro_segundo_nome}}</td>
                                                    <td><a href="/gestor/edit_alunos/{{ aluno.alu_id }}" title="Editar"><i class="feather icon-edit"></i></a></td>
                                                    <td><a href="/gestor/delete_alunos/{{ aluno.alu_id }}" onclick="return confirm('Tem certeza que deseja apagar?');" title="Apagar"><i class="feather icon-trash-2"></i></a></td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ basic-table ] end -->
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
