{% extends "gestor/base/base.html" %}

{% block title %} Escolas {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="card-body" style="margin: 0 auto;max-width: 1000px; width: 90%;">
    <h5 style="text-align: center; margin-top: 40px; margin-bottom: 40px;">Editar Professor</h5>
    <hr>
    <div class="row">
        <div class="row" style="margin: 0 auto;">
            <form style="text-align: center; width: 600px;" action="/gestor/save_professores" method="POST">
                <input type="text" hidden name="id_prof" id="id_prof" value="{{professor.pro_id}}">

                <div class="form-group">
                    <label for="cpf">CPF do Professor</label>
                    <input type="text" name="cpf" class="form-control" id="cpf" placeholder="CPF do Professor" value="{{professor.pro_identificador}}">
                </div>

                <div class="form-group">
                    <label for="fst_name_prof">Primeiro Nome do Professor</label>
                    <input type="text" name="fst_name_prof" class="form-control" id="fst_name_prof" placeholder="Primeiro Nome do Professor" value="{{professor.pro_primeiro_nome}}">
                </div>

                <div class="form-group">
                    <label for="scn_name_prof">Segundo Nome do Professor</label>
                    <input type="text" name="scn_name_prof" class="form-control" id="scn_name_prof" placeholder="Segundo Nome do Professor" value="{{professor.pro_segundo_nome}}">
                </div>

                <div class="form-group">
                    <label for="password">Nome do Professor</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Senha Professor" value="{{professor.pro_senha}}">
                </div>

                {% csrf_token %}
                <button type="submit" class="btn btn-primary" style="margin-top: 30px;">Submit</button>
            </form>

        </div>

    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}