{% extends "layouts/base.html" %}


{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <img style="display: block;margin: 10px auto 0 auto;background-color: rgba(255,255,255,0.5);border-radius: 10px;box-shadow: 0px 0 5px 0 #ccc;" src="./static/assets/images/alfa3bd.png" alt="">
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
